$salmon: #ff6060;
body, html {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  .logo {
    width: 145px;
  }
  ul {
    color: $salmon;
    display: flex;
    list-style-type: none;
    font-weight: 500;
    gap: 26px;
    font-size: 12px;
  }
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 66px;

  .LOGO_footer {
    width: 122px;
    height: 39.444px;
  }
  p{
    font-size: 12px;
    width: 120px;
    text-align: center;
  }
}

@media (min-width: 800px) {
  body {
    margin: 45px;
  }
  header {
    ul {
      font-size: 24px;
      li:hover {
        text-decoration: underline;
      }
    }
  }
  footer {
    p {
      width: 100%;
      padding: 10px;
    }
  }
}

@media (max-width: 600px) {
  header ul {
    text-transform: uppercase;
  }
}
