.carrousel {
  position: relative;

  &_img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
  }

  &_arrow_right {
    display: flex;
    position: absolute;
    top: 43%;
    right: 2%;
    height: 15%;
    z-index: 10;
    cursor: pointer;
  }

  &_arrow_left { 
    display: flex;
    position: absolute;
    top: 43%;
    left: 2%;
    height: 15%;
    z-index: 10;
    cursor: pointer;
  

    .arrow {
      position: absolute;
      left: 50px;
    }
    
  }
  &_position {
      position: absolute;
      top: 87%;
      right: 48%;
      z-index: 10;
      color: white;
      font-size: 18px;
    }
}
.housing_info_container {
  display: flex;
  flex-direction: column;
  color: #ff6060;

  .rate-host-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .host {
      margin-top: 21px;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      &_name {
        font-size: 18px;
        font-weight: 500;
        width: 73px;
        text-align: end;
      }
      &_picture {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
    }
    .stars {
      display: flex;
      gap: 5px;
    }
  }
}

.housing_collapse {
  display: flex;
  width: 100%;
}

.tags {
  display: flex;
  gap: 10px;
}
.tag {
  background-color: #ff6060;
  width: 115px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  padding: 5px;

}

